<h2 class="title is-3 has-text-centered mt-4">Public Routes</h2>
<div class="columns is-multiline">
  {{#each route}}
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-5by4">
            <img
              class="image is-128x128"
              src="{{image}}"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img
                  src={{creator.profilePicture}}
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{name}}</p>
              <p class="subtitle is-6"><a href="">@{{creator.username}}</a></p>
            </div>
          </div>

          <div class="content">
            <p><strong>Distance: </strong>{{distance}}</p>

            <i>Last update: {{formatDate updatedAt}}</i>
          </div>
          <div class="card">
            <footer class="card-footer">
              <a href="/routes/{{_id}}" class="card-footer-item">Details</a>
              <a href="#" class="is-hidden card-footer-item">Share</a>
            </footer>
          </div>
        </div>
      </div>
    </div>

  {{/each}}
</div>